
body {
	width: 100%;
	margin: 0;
	font-family: 'Mulish', sans-serif;
}

#header {
	background-color: #31D3D7;
	border-bottom: 3px solid #175D5E;
	width: 100%;
	height: 250px;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
#header-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
#header h1 {
	color: white;
	text-shadow: 3px 3px black;
	font-size: 80px;
	margin-left: 0;
	margin-right: 0;
}

#header img {
	width: auto;
	height: 250px;
}

#main-container {
	width: 100%;
	background-color: #A0F3E6;
	height: 110vh;
	padding-top: 50px;
}

#card {
	width: 80%;

	margin-right: auto;
	margin-left: auto;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-start;
}

#form-container{
	margin: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	background-color: white;
	display: flex;
	justify-content: space-between;
}
#list-container{
	margin: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	background-color: white;
}
#add-button{
	color: white;
	background-color: #404342;
	border: 1px solid black;
	border-radius: 3px;
}
#search-button{
	color: white;
	background-color: #404342;
	border: 1px solid black;
	border-radius: 3px;
}
#amount {
	width: 60px;
}
#card h2{
	margin: 0 0 5px 0;
}
#list {
	
	padding-left: 5px;
}
li{
	border:1px solid black;
	border-bottom: 0px;
	padding: 5px;
	font-size: 15px;
}
li:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
li:last-child {
	border-bottom: 1px solid black;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
li:nth-child(odd) {
  background-color: #f4f4f4;
}

li:nth-child(even) {
  background-color: #ccc;
}
li button{
	float: right;
	color: white;
	background-color: #404342;
	border: 1px solid black;
	border-radius: 3px;
}
